@import url("type.css");
@import url("table.css");
@import url("form.css");

body {
    background-color: #dedede;
    color: #333333;
}

header {
    text-align: center;
    padding: 24px;
    padding-bottom: 0;
    border-bottom: 1px;
}

header nav {
    background:#bbb;
    margin: 36px auto 0;
    display:block;
    padding:8px 0;
}

header nav ul {
    display:grid;
    grid-template-columns: 50% 50%;
    text-align:center;

}

header>nav li {
    /* float: left; */
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-fullwidth {
    max-width: none;
}

main {
    padding: 24px;
    min-height: 480px;
}


footer {
    padding: 24px;
    background: #bbb;
    color: white;
}

footer nav {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-gap: 24px;
    text-align: left;
}

footer h3 {
}

footer ul {}

footer ul li {
    margin: 16px 0 0;
}