@import url("type.css");
@import url("table.css");
@import url("form.css");



body {
    background-color: #B2CED9;
    color: #333333;
    box-sizing: border-box;
}

header {
    text-align: center;
    /* padding: 24px; */
    padding-bottom: 0;
    /* border-bottom: 1px; */
    background-color: #ffeae3;
    height:

}

header .container {
    max-width: none;
}

header img {
    margin: 48px auto 0;
}

/* header h3 {margin-top:24px;} */

header nav {
    background: #041326;
    margin: 24px auto 0;
    height: 80px;
    display: block;
}

header nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

}

header nav li a {
    font: 22px/80px 'Work Sans', helvetica, sans-serif;
    color: #A7C8F2;
    text-transform: uppercase;
    font-weight: 300;
}

.container.home {
    max-width: 600px;
    margin: 48px auto;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
    padding: 48px;
}

/* specific to front page and ffs this is ugly */
.home h2 {}

.container-fullwidth {
    max-width: none;
}

main {
    padding: 24px;
    min-height: 480px;
    max-width: 960px;
    margin: 48px auto;

}

.about {
    margin-top: 16px;
    margin-bottom: 16px;
}

.about h2 {
    text-align: center;
}

img {
    margin-top: 16px;
}

footer {
    padding: 24px;
    background: #041326;
    color: white;
}

footer nav {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-gap: 24px;
    text-align: left;
}

footer h3,
footer h4 {
    color: #048ABF;
}

footer ul {}

footer ul li,
footer ul li a {
    margin: 16px 0 0;
    color: #A7C8F2;
}

.about img {
    border: 10px solid white;
    max-width: 480px;
    display: block;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:24px auto;
}

